// Specific CSS for your home-page
.home {
  background-color: #000000;
}

.nav-home {
  float: right;
  font-size: 1rem;
  padding: 1.4rem 0.5rem;
  color: $cesars-black;
  text-transform: uppercase;
}
.nav-home:hover {
  color: $cesars-black;
  text-decoration: none;
}

.deco-home {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 1.5rem 2rem 1rem 1rem;
}

.title-home {
  color: #FEDE1E;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: xx-large;
}

.antho-picture {
  background-image: url(https://res.cloudinary.com/ddlesqeup/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1586615829/anthoche-jeune.jpg);
  width: 600px;
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.box-picture {
  padding-top: 2rem;
}

.white-box {
  width: 600px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 130px;
  right: 400px;
  border-radius: 0 4px 4px 0;
  z-index: 1;
}

.yellow-box {
  width: 600px;
  height: 500px;
  background-color: #FEDE1E;
  position: absolute;
  top: 140px;
  right: 382px;
  border-radius: 0 4px 4px 0;
  z-index: 0;
}
