<div class="container">
  <div class="box-picture">
    <div class="antho-picture">
     <%= cl_image_tag("logo-anthoche-2_dauvpy", :transformation =>
    { :dpr => "auto", :responsive => true, :width => "auto", :crop => "scale"}) %>
    </div>
  </div>
  <%= link_to category_path(@category) do  %>
    <div class="cta-colors">
      <h2>
        JOUER
      </h2>
    </div>
  <% end %>
</div>

