<div class="container">
  <div class="title-home">30 ans Anthoche</div>
  <div class="box-picture">
    <div class="antho-picture"></div>
    <div class="white-box"></div>
    <div class="yellow-box"></div>
  </div>
  <div class="cta-colors"></div>
</div>
