<div class="container">
  <h1 class="category-title"><%= @category.title %><span class="points-title"> - <%= @category.points %> points</span></h1>
  <% if @answers == nil || @answers == [] %>
    <%= render 'shared/show/list-nominees' %>
  <% else %>
    <% @answers.each do |answer| %>
      <% controller.redirect_to category_answer_path(@category, answer) %>
    <% end %>
  <% end %>
</div>
<%= render 'shared/modal-validate' %>
